[Unit]
Description=Helios Dropbear SSH server
ConditionPathExists=/usr/sbin/dropbear
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/dropbear -F -E -R -p 22
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
