@font-face {
    font-family: "Geologica Auto";
    src: url('/fonts/Geologica_Auto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Geologica Auto";
    src: url('/fonts/Geologica_Auto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Geologica Auto";
    src: url('/fonts/Geologica_Auto-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Geologica Auto";
    src: url('/fonts/Geologica_Auto-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Geologica Auto";
    src: url('/fonts/Geologica_Auto-Light.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Geologica Auto";
    src: url('/fonts/Geologica_Auto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Geologica Auto";
    src: url('/fonts/Geologica_Auto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Geologica Auto";
    src: url('/fonts/Geologica_Auto-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Geologica Auto";
    src: url('/fonts/Geologica_Auto-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica_Cursive-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica_Cursive-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica_Cursive-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica_Cursive-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica_Cursive-Light.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica_Cursive-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica_Cursive-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica_Cursive-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica_Cursive-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica-Light.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Geologica";
    src: url('/fonts/Geologica-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
