[Unit]
Description=Helios Updater IPC Socket
PartOf=helios-updater.service

[Socket]
ListenStream=/run/helios/updater.sock
SocketMode=0660
SocketUser=root
SocketGroup=root
DirectoryMode=0755
Service=helios-updater.service
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
